.navbar{
    background-color: white;
}

a{
    color: black;
}
.navbar .nav-link{
    color: black;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
    color: #4ca1af;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
}

.navbar.active .nav-link {
    color: #555;
}

img{
    width: 500px;
}

#lang-pic > div{
    background: rgba(76, 175, 80, 0.3);
    border-radius: 30px;
    margin-bottom: 10px;
}

body {
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}